
<div class="form-group" *ngIf="crud_operation.is_visible">
    <label>Nombre</label>
    <input type="text" class="form-control" [(ngModel)]="current_clien.nombre">
    <label>Apellido</label>
    <input type="text" class="form-control" [(ngModel)]="current_clien.apellido">
    <label>Nacimiento</label>
    <input type="date" class="form-control" [(ngModel)]="current_clien.nacimiento">
    <label>Edad</label>
    <input type="number" class="form-control" [(ngModel)]="current_clien.edad">
    <button class="btn btn-primary" (click)="save()">Guardar</button>
    <button class="btn btn-danger" (click)="crud_operation.is_visible=false">Cancelar</button>

</div>



<div class="panel-body">
    <table class="table table-striped table-over">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Nacimiento</th>
            <th>Edad</th>
            <th class="text-right">
                <button class="btn btn-success" (click)="new()"> Nuevo </button>
            </th>
        </tr>
        <tr *ngFor="let row of data">
            <td>{{row.nombre}}</td>
            <td>{{row.apellido}}</td>
            <td>{{row.nacimiento}}</td>
            <td>{{row.edad}}</td>
            <td class="text-right">
                <div *ngIf="!row.confirm">
                    <button class="btn btn-danger" (click)="row.confirm =true">Eliminar</button>
                </div>

                <div *ngIf="row.confirm">
                    <button class="btn btn-success" (click)="delete(row.id)">Confirmar</button>
                    <button class="btn btn-danger" (click)="row.confirm = false">Cancelar</button>
                </div>
            </td>
        </tr>

    </table>
</div>